nav ul a,
nav .brand-logo {
  color: #FFF;
}

html {
  font-family: helvetica-w01-bold, helvetica-w02-bold, helvetica-lt-w10-bold, sans-serif;
}

body {
  color: #FFF;
  background-color: #212121;
}

.portrait {
  background-color: #E8BA00;
}

.icon-block .material-icons {
  color: orange;
}

.icons {
  color: #212121;
  font-size: 22px !important;
}

.fix-search  {
  position: fixed;
  top: 0;
}

.icons:hover {
  color: #FFF;
}

.team-font-color {
  color: #E8BA00 !important;
}

.inline {
  display: inline-block;
}

.full-w {
  width: 100%;
}

.full-h {
  height: 100%;
}

.half-w {
  width: 50%;
}

.half-h {
  height: 50%;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}
.social-bar {
  width: 100%;
  height: 35px;
  background-color: #E8BA00;
}

.social-bar ul {
  list-style: none;
  margin: 7px 0 0 0;
}

.social-bar ul li {
  display: inline;
  padding: 0 5px 0 5px;
}

.logotipo {
  position: absolute;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 900;
}

.nav-separator {
  background-color: #FFF;
  height: 45px;
  width: 2px;
  display: inline-block;
  margin-left: 10px;
}

.flip {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1);
  -ms-filter: fliph; /*IE*/
  filter: fliph; /*IE*/
}

.logo {
  height: 45px;
  margin-top: 9px;
}

nav .button-collapse i {
  color: #FFF;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.card-content {
  color: #000;
}

.parallax-container {
  min-height: 750px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.video-parallax {
  min-height: 900px;
}

.parallax-container .section {
  width: 100%;
}

.video-fix {
  margin-top: -80px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.lineUp-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  display: none;
}

.cards-container {
  min-width: 1280px;
  height: 100%;
  position: absolute;
  top: 0;
}

.close-card {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 50px;
}

.close-btn {
  font-size: 40px;
  color: #FFF;
}

.close-btn:hover {

}

.players-container {
  height: 75%;
}

.player {
  max-width: 20%;
  display: table-cell;
  height: 100%;
}

.player-name h5 {
  font-weight: 900;
  font-size: 20px;
  margin-top: 0;
}

.player img {
  width: 100%;
}

.player-network-container {
  padding: 15px;
}

.player-network-container img {
  width: 30px;
}

.player-network-icon {
  font-size: 45px;
}

.team-card-container {
  display: inline-block;
  background-position: center;
  background-size: cover;
  width: 250px;
  height: 450px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.team-logo-container {
  background-position: center;
  background-size: cover;
  width: inherit;
  position: absolute;
  top: 40%;
  z-index: 10;
}

.team-card {
  display: inline-block;
  width: inherit;
  height: inherit;
  opacity: 0;
}

.inner-card-logo-container {
  height: 25%;
}

.inner-card-logo-container img {
  height: 100%;
}

.inner-card-logo {
  width: 100%;
  padding: 0 20px 0 20px;
}

.fade-out-card {
  animation-name: fadeOut;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

.fade-in-logo {
  animation: fadeIn 0.6s ease;
  animation-fill-mode: forwards;
}

.fade-out-logo:hover {
  animation: fadeOut 0.5s ease;
  animation-fill-mode: forwards;
}

.team-logo-container:hover + .team-card {
  animation-name: fadeIn;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}


footer.page-footer {
  margin: 0;
}

.label {
  color: #E8BA00;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  .video-parallax {
    min-height: 380px !important;
  }

  .video-fix {
    margin-top: 0px;
  }

}

@media only screen and (max-width : 667px) {
  .video-parallax {
    min-height: 210px !important;
  }

  .video-fix {
    margin-top: 0px;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .video-fix {
    margin-top: 0px;
  }
}

@media only screen and (max-width : 568px) {
  .video-parallax {
    min-height: 180px !important;
  }

  .video-fix {
    margin-top: 0px;
  }
}

@media only screen and (max-width : 320px) {
  .video-parallax {
    min-height: 150px !important;
  }

  .video-fix {
    margin-top: 0px;
  }
}

@media only screen and (max-width : 240px) {
  .video-parallax {
    min-height: 135px !important;
  }

  .video-fix {
    margin-top: 0px;
  }
}